@model Projeto_Final_TCC.Models.Usuario

@{
    ViewBag.Title = "Contact";
}
<br>
<br>

<!-- Tela Inicial Cadastro/Login -->
<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(85, 169, 76, 1.0)">
        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3 text-center">
                <img src="~/Content/Images/tatu.png" alt="Logo" class="img-responsive center-block">
                <br>
                <br>
                <div class="btn-group" role="group" aria-label="Opções">
                    <button type="button" class="btn btn-primary btn-outline-dark btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>
                    <button type="button" class="btn btn-dark btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#cadastroModal">Cadastro</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cadastro -->
    <div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastroModalLabel">Cadastro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("RealizarCadastro", "Cadastro", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome)
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha)
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Senha)
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                }
            </div>
            <!-- Fechar -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>

    <!-- LLogin -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("RealizarLogin", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Senha)
                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Senha)
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                    }
                </div>
                <!-- Fechar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
