@model Projeto_Final_TCC.Models.Usuario

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

@using (Html.BeginForm("Cadastrar", "Cadastro", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Senha)
        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.V_Biologo)
        @Html.CheckBoxFor(m => m.V_Biologo)
    </div>

    <div class="form-group" id="biologo-section" style="display:none;">
        @Html.LabelFor(m => m.ID_Bio)
        @Html.TextBoxFor(m => m.ID_Bio, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
}

@section scripts {
    <script>
        $(function () {
            $('input[name="IsBiologo"]').change(function () {
                if ($(this).is(':checked')) {
                    $('#biologo-section').show();
                } else {
                    $('#biologo-section').hide();
                }
            });
        });
    </script>
}

